H1,
		H3 {
			color: red;
			font-size: 100px;
			font-family: Pacifico;
		}

		H2 {
			color: green;
			font-size: 80px;
			font-family: Gravitas One;
		}

		a {
			color: white;
			font-size: 30px;
			text-align: center;
			text-decoration: none;
			transition: 0.1s;
		}

		table {
			border: 2px dashed navy;
			border-radius: 20px;
			background-color: goldenrod;
		}

		.table2 {
			border: 2px navy;
			border-radius: 0px;
			background-color: transparent;
		}

		a:hover{
			color: red;
		}

		input{
			color: green;
			background-color: yellow;
			border: 2px solid black;
			border-radius: 5px;
		}

		input[type="submit"]{
			color: blue;
			background-color: green;
			border: 2px solid red;
			border-radius: 5px;
		}